{{define "title"}}Home{{end}}

{{define "main"}}
    {{if .IsAuthenticated}}
        <h2>Latest Snippets</h2>
        {{if .Snippets}}
            <table>
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                    <th>ID</th>
                </tr>
                {{range .Snippets}}
                    <tr>
                        <td><a href='/snippet/view/{{.Id}}'>{{.Title}}</a></td>
                        <td>{{humanDate .Created}}</td>
                        <td>#{{.Id}}</td>
                    </tr>
                {{end}}
            </table>
        {{else}}
            <p>Ther's nothing to see here... yet!</p>
        {{end}}
    {{end}}
{{end}}