{{define "title"}}Snippet #{{.Snippet.Id}}{{end}}

{{define "main"}}
    <div class='snippet'>
        {{with .Snippet}}
            <div class='metadata'>
                <strong>{{.Title}}</strong>
                <span>#{{.Id}}</span>
            </div>
            <pre><code>{{.Content}}</code></pre>
            
            <div class='metadata'>
                <time>{{.Created | humanDate | printf "Created: %s"}}</time>
                <time>{{.Expires | humanDate | printf "Expires: %s"}}</time>
            </div>
        {{end}}
        
    </div>
{{end}}